body {
    font-family: Arial, sans-serif;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

h5 {
    font-size: 1.25rem;
    margin-top: 20px;
    font-weight: bold;
}

footer {
    padding: 20px 0;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

footer h5 {
    font-size: 1.2rem;
    font-weight: bold;
}

form .form-control {
    background-color: #f8f8f8;
    border: none;
    border-radius: 5px;
}

button {
    border-radius: 5px;
}

.btn-dark {
    background-color: #000;
}

.btn-dark:hover {
    background-color: #333;
}
